.ExplainerTypeSec {
    padding: 50px 0;
}

.txt h2 {
    font-size: 30px;
    color: #231f20;
    font-weight: 700;
    font-family: "Montserrat";
    text-align: center;
}

.txt p {
    font-size: 18px;
    color: #231f20;
    font-weight: 400;
    padding: 20px 0;
    font-family: "Montserrat";
    text-align: center;
}

.card {
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 0 25px 0 rgba(0, 0, 0, .1);
    padding: 25px 20px 35px;
    margin-top: 20px;
    height: 100%;
}

.card h3 {
    font-size: 25px;
    font-weight: 700;
    padding: 20px 0 10px;
    height: 84px;
    font-family: "Montserrat";
}

.card p {
    font-size: 17px;
    font-family: "Montserrat";
}