.appIdeaSec {
  padding: 100px 0 0;
}

.gredientBg {
  background: linear-gradient(to left, #f32f53, #f32fc2, #4a78ef);
  border-radius: 20px;
  width: 100%;
  margin: 0 auto;
  padding: 50px 0 60px;
  position: relative;
}

.image {
  position: absolute;
  top: -6%;
}

.image img {
  width: 50%;
  height: auto;
  animation: scale 2s linear infinite;
}

@keyframes scale {
  0% {
    transform: scale(0.8);
  }
  50% {
    transform: scale(0.95);
  }
  100% {
    transform: scale(0.8);
  }
}

.secform h2 {
  font-size: 40px;
  line-height: 55px;
}

.secform input {
  width: 100%;
  height: 45px;
  border-radius: 6px;
  background: #c5017c;
  backdrop-filter: blur(10px);
  border: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  color: white;
  padding: 0 15px;
  margin-bottom: 20px;
}

.secform textarea {
  width: 100%;
  height: 100px;
  border-radius: 6px;
  background: #c5017c;
  backdrop-filter: blur(10px);
  border: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  color: white;
  padding: 10px 15px 0;
  margin-bottom: 20px;
  resize: none;
}

.secform input::placeholder,
.secform textarea::placeholder {
  color: white;
}

.secform button {
  background: black;
  border: 0;
  border-radius: 6px;
  width: 100%;
  height: 50px;
  color: white;
  font-size: 16px;
  line-height: 22px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* =================Media Queries=================== */

@media only screen and (max-width: 1399px) {
  .gredientBg::after {
    bottom: 145px;
    right: 0;
    width: 100%;
    height: 560px;
    background-image: url(/_next/static/media/gredient-bg.e0b369c6.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow-y: visible;
    border-radius: 14px;
  }
}

@media only screen and (max-width: 1099px) {
  .appIdeaSec h2 {
    font-size: 30px;
    line-height: 40px;
  }

  .image {
    top: -3%;
  }

  .image img {
    width: 90%;
    height: auto;
  }

  .gredientBg::after {
    bottom: 26px;
    right: 0;
    width: 100%;
    height: 444px;
  }

  .secform {
    padding-right: 0px;
  }
}

@media only screen and (max-width: 991px) {
  .appIdeaSec {
    padding: 50px 0;
  }

  .gredientBg::after {
    z-index: -1;
    height: 585px;
  }

  .gredientBg {
    padding: 50px 25px;
  }
}

@media only screen and (max-width: 567px) {
  .gredientBg::after {
    bottom: 0px;
    height: 550px;
  }

  .gredientBg {
    padding: 30px 25px;
  }

  .gredientBg h2 {
    font-size: 25px;
    line-height: 35px;
  }

  .secform input {
    font-size: 13px;
    margin-bottom: 14px;
  }

  .secform button {
    margin: 0;
  }
}
