.Platforms {
  padding: 100px 0;
}

.gredientBg {
  background: linear-gradient(to left, #f32f53, #f32fc2, #4a78ef);
  border-radius: 20px;
  width: 100%;
  margin: 0 auto;
  position: relative;
}

.dimond {
  position: absolute;
  left: 3%;
  top: -10%;
  text-align: left;
}

.dimond img {
  width: 30%;
  animation: scale 2s linear infinite;
}

@keyframes scale {
  0% {
    transform: scale(0.9);
  }
  50% {
    transform: scale(1);
  }
  100% {
    transform: scale(0.9);
  }
}

.circles {
  position: absolute;
  text-align: right;
  top: 7%;
  right: 2%;
}

.circles img {
  width: 40%;
  animation: move 2s ease-in-out infinite alternate;
}

@keyframes move {
  0% {
    transform: translateY(0%);
  }
  100% {
    transform: translateY(30%);
  }
}

.txt {
  padding: 0 40px;
}

.Platforms h2 {
  font-size: 40px;
  line-height: 50px;
  font-weight: bold;
}

.secBtn a {
  background: #f32f53;
  border-radius: 6px;
  width: 237px;
  height: 45px;
  color: white;
  font-size: 16px;
  line-height: 22px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 30px 0 0px;
}

.secImg {
  width: 50%;
  margin: auto;
  padding: 30px 0 40px;
  animation: scale 2s linear infinite;
}

/* =================Media Queries=================== */

@media only screen and (max-width: 1399px) {
  .txt {
    padding: 25px 40px;
  }

  .Platforms h2 {
    font-size: 30px;
    line-height: 40px;
  }

  .dimond img {
    width: 25%;
  }
}

@media only screen and (max-width: 1099px) {
  .txt {
    padding: 17px 40px;
  }

  .Platforms h2 {
    font-size: 30px;
    line-height: 40px;
  }

  .dimond {
    top: -15%;
  }
}

@media only screen and (max-width: 991px) {
  .Platforms {
    padding: 50px 0;
  }

  .txt {
    padding: 30px 30px;
  }

  .dimond {
    display: none;
  }

  .circles {
    display: none;
  }
}

@media only screen and (max-width: 567px) {
  .gredientBg {
    width: 100%;
  }

  .txt {
    padding: 20px 25px;
  }

  .Platforms h2 {
    font-size: 25px;
    line-height: 35px;
  }

  .secBtn a {
    width: 100%;
    margin: 20px 0 0px;
  }
}
