/* time line start */

.timeline h1 {
    text-align: center;
    font-weight: 300;
    color: #777
}

.timeline h1 span {
    font-weight: 600;
}

.timelineMain {
    width: 100%;
    padding: 50px 0;
    margin: 50px auto 20px;
    position: relative;
    overflow: hidden;
}

.timelineMain:before {
    content: '';
    position: absolute;
    top: -18px;
    left: 50%;
    transform: translateX(-50%);
    margin-left: -1px;
    width: 100%;
    height: 11.4%;
    background-image: url(../public/newDubaiPagev1/timelinearrow.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    z-index: 1
}

.timeline {
    width: -webkit-calc(50% + 8px);
    width: -moz-calc(50% + 8px);
    width: calc(50% + 8px);
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -moz-box-pack: justify;
    justify-content: space-between;
    clear: both;
    width: 100%;
    position: relative;
}

.timeOne::after {
    content: '';
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    height: 74%;
    width: 10px;
    background: black;
    bottom: -65px;
}

.timeTwo::after {
    content: '';
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    height: 34%;
    width: 10px;
    background: black;
    top: 124px;
}

.timeThree::before {
    content: '';
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    height: 30%;
    width: 10px;
    background: black;
    top: -172px;
}

.timeThree::after {
    content: '';
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    height: 44%;
    width: 10px;
    background: black;
    top: 30px;
}

.spacing {
    margin-top: -93px;
}

.spacingOne {
    margin-top: 105px;
}

.spacingTwo {
    margin-top: -265px;
}

.spacingThree {
    margin-top: -540px;
}

.spacingFour {
    margin-top: 40px;
}

.timelineRight {
    float: right;
}

.timeLeft {
    float: left;
}

.marker {
    width: 220px;
    height: 50px;
    background-image: url(../public/newDubaiPagev1/timelineParticle.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    left: 51.8%;
    transform: translateX(-50%);
    top: 123px;
    margin: 0 auto;
    z-index: 9999
}

.numberOne {
    width: 250px;
    height: 50px;
    background-image: url(../public/newDubaiPagev1/numberOne.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    left: 51.8%;
    transform: translateX(-50%);
    top: 70px;
    margin: 0 auto;
    z-index: 9999
}

.numberTwo {
    width: 250px;
    height: 50px;
    margin-left: -14px;
    background-image: url(../public/newDubaiPagev1/numberTwo.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    right: 0;
    left: -48px;
    top: 313px;
    margin: 0 auto;
}

.numberThree {
    width: 250px;
    height: 50px;
    margin-left: -14px;
    background-image: url(../public/newDubaiPagev1/numberThree.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    left: 51.8%;
    transform: translateX(-50%);
    top: -26px;
    margin: 0 auto;
}

.numberFour {
    width: 250px;
    height: 50px;
    margin-left: -14px;
    background-image: url(../public/newDubaiPagev1/numberFour.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    right: 0;
    left: -48px;
    top: 245px;
    margin: 0 auto;
}

.markerTwo {
    width: 220px;
    height: 50px;
    margin-left: -50px;
    background-image: url(../public/newDubaiPagev1/timelineParticle.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    margin-top: 60px;
    transform: rotate(-180deg);
    z-index: 9999
}

.timelineContent {
    width: 100%;
    color: #666;
    text-align: left;
}

.paddingOne {
    padding: 0 35px 0 100px;
}

.paddingTwo {
    padding: 0 75px 0 0px;
}

.paddingThree {
    padding: 0 101px 0 0px;
}

.paddingFour {
    padding: 0 35px 0 100px;
}

.paddingFive {
    padding: 0 35px 0 100px;
}

.paddingSix {
    padding: 0 101px 0 0px;
}

.paddingSeven {
    padding: 0 35px;
}

.paddingEight {
    padding: 0 35px;
}

.paddingNine {
    padding: 0 35px;
}

.paddingTen {
    padding: 0 35px;
}

.timelineContent h2 {
    font-size: 46px;
    font-weight: bold;
    line-height: 56px;
    margin-bottom: 18px;
    color: black;
}

.timelineContent h3 {
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 25px;
    line-height: 30px;
    color: black;
    font-weight: 500;
    padding-top: 16px;
    padding-bottom: 15px;
}

.timelineContent p {
    font-size: 15px;
    line-height: 25px;
    color: black;
    margin-bottom: 12px;
}

.timelineContent .timePara {
    color: #3D3D3D !important;
}

.redPara {
    color: #F32F53 !important;
    font-size: 20px !important;
    line-height: 22px !important;
}

.timelineContent img {
    object-fit: contain;
}

/* Media Query Start */
@media screen and (max-width: 1399px) {
    .marker {
        left: 52%;
    }

    .timelineMain:before {
        top: -33px;
    }

    .timeOne::after {
        height: 77%;
        bottom: -59px;
        left: 49.9%;
    }

    .numberOne,
    .numberThree {
        left: 52%;
    }

    .timeTwo::after {
        height: 33%;
    }

    .timeThree::after {
        height: 42%;
        top: 27px;
    }

    .timeThree::before {
        height: 33%;
        top: -196px;
    }
}

@media screen and (max-width: 1024px) {
    .timelineContent h2 {
        font-size: 35px;
        line-height: 40px;
    }

    .timelineContent p {
        margin-bottom: 6px;
        font-size: 13px;
        line-height: 19px;
    }

    .timelineContent h3 {
        margin-top: 0px;
        margin-bottom: 0px;
        font-size: 20px;
        padding-bottom: 6px;
    }

    .timelineMain:before {
        top: 0;
    }

    .marker {
        width: 129px;
        height: 32px;
        left: 51.5%;
        top: 106px;
    }

    .numberOne,
    .numberThree {
        left: 51.6%;
    }

    .numberTwo {
        left: -31px;
        top: 242px;
    }

    .numberOne {
        top: 57px;
    }

    .numberOne,
    .numberThree,
    .numberTwo,
    .numberFour {
        width: 129px;
        height: 32px;
    }

    .timeOne::after {
        height: 74%;
        bottom: -50px;
    }

    .timeTwo::after {
        height: 33%;
        top: 93px;
    }

    .timeThree::before {
        height: 22.5%;
        top: -131px;
    }

    .timeThree::after {
        height: 51%;
        top: 12px;
    }

    .timeThree {
        top: -25px;
    }

    .spacingOne {
        margin-top: 40px;
    }

    .spacingTwo {
        margin-top: -235px;
    }

    .paddingOne {
        margin-top: -83px;
    }

    .paddingOne,
    .paddingFour {
        padding: 0 35px 0 54px;
    }

    .timelineContent img {
        max-width: 150px;
        object-fit: contain;
    }

    .numberFour {
        left: -31px;
    }
}

@media screen and (max-width: 991px) {

    .timelineSec {
        padding: 50px 0;
    }

    .paddingTwo {
        margin-bottom: 50px;
    }

    .paddingTwo,
    .paddingThree,
    .paddingSix {
        padding: 0 12px 0 0px;
        margin-bottom: 50px;
    }

    .timelineContent h2 {
        font-size: 30px;
        line-height: 35px;
    }

    .timelineMain:before {
        height: 5%;
        top: -15px;
    }

    .paddingOne,
    .paddingFour,
    .paddingFive {
        padding: 0px 0px 0 0px;
        margin-bottom: 50px;
    }

    .marker {
        top: 16%;
    }

    .numberOne,
    .numberThree {
        left: 52%;
    }

    .timelineMain {
        margin: 50px auto 0px;
    }

    .spacingOne,
    .spacingTwo,
    .spacingThree,
    .spacingFour {
        margin-top: 0px;
    }

    .timeLeft {
        display: flex;
        flex-direction: column-reverse;
    }

    .timelineRight {
        display: flex;
        flex-direction: column-reverse;
    }

    .timeThree {
        flex-direction: column !important;
    }

    .timeOne::after,
    .timeTwo::after,
    .timeThree::before,
    .timeThree::after {
        left: 17px;
    }

    .timelineMain:before {
        left: 18px;
    }

    .timeOne::after {
        bottom: -60%;
        width: 4px;
        height: 125%;
    }

    .timeTwo::after {
        height: 52%;
        top: 23%;
        width: 4px;
    }

    .timeThree::after {
        height: 40%;
        top: -13%;
        width: 4px;
    }

    .timeThree::before {
        height: 45%;
        top: 33%;
        width: 4px;
    }

    .numberThree {
        top: 28%;
    }

    .marker,
    .numberOne,
    .numberTwo,
    .numberThree,
    .numberFour {
        left: 32px;
    }

    .numberOne {
        top: 17.5%;
    }

    .numberTwoMobile {
        width: 129px;
        height: 32px;
        margin-left: -14px;
        background-image: url(../public/newDubaiPagev1/numberTwoMob.png);
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        position: absolute;
        left: 48px;
        transform: translateX(-50%);
        top: 76.2%;
    }

    .numberFourMobile {
        width: 129px;
        height: 32px;
        margin-left: -14px;
        background-image: url(../public/newDubaiPagev1/numberFourMob.png);
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        position: absolute;
        left: 48px;
        transform: translateX(-50%);
        top: 78.5%;
    }

    .paddingOne,
    .paddingTwo,
    .paddingThree,
    .paddingFour,
    .paddingFive,
    .paddingSix {
        padding: 11px 12px 0 70px;
    }

}

@media screen and (max-width: 768px) {

    .timelineSec {
        padding: 80px 0 0;
    }

    .timelineMain:before {
        left: 17px;
        width: 20px;
        top: 56px;
    }

    .marker {
        top: 37%;
    }

    .timeOne::after {
        bottom: -50%;
        height: 98%;
    }

    .numberOne {
        top: 15.4%;
    }

    .numberTwoMobile {
        top: 63.6%;
    }

    .numberFourMobile {
        top: 76.5%;
    }

    .paddingOne,
    .paddingFour,
    .paddingFive {
        margin-bottom: 0;
    }

    .timeThree::before {
        height: 41%;
    }

    .timeThree::after {
        height: 63%;
        top: -35%;
    }

    .timeTwo::after {
        height: 40%;
    }

    .timeline {
        width: 100%;
        margin-bottom: 30px;
    }

    .timelineRight {
        float: none;
    }

    .timeLeft {
        float: none;
        direction: ltr;
    }
}

@media screen and (max-width: 567px) {
    .timelineSec {
        padding: 50px 0 0;
    }

    .timeline {
        margin-bottom: 0px;
    }

    .timelineMain {
        margin: 0px auto 0px;
    }

    .paddingOne,
    .paddingTwo,
    .paddingThree,
    .paddingFour,
    .paddingFive,
    .paddingSix {
        padding: 0px 12px 0 70px;
    }

    .timelineContent h2 {
        font-size: 32px;
        line-height: 1.3;
    }

    .timelineContent p {
        font-size: 14px;
        line-height: 24px;
        text-align: justify;
    }

    .paddingTwo {
        padding: 0;
    }

    .cardBg {
        background: #efefefce;
        border-radius: 10px;
        padding: 20px;
    }

    .timelineMain:before {
        height: 3%;
        top: 15px;
        left: 23px;
    }

    .timeOne::after,
    .timeTwo::after,
    .timeThree::after,
    .timeThree::before {
        left: 21.5px;
    }

    .timeOne::after {
        bottom: -37%;
        height: 114%;
    }

    .timeTwo::after {
        height: 51%;
        top: 15%;
    }

    .timeThree::after {
        height: 49%;
        top: 24%;
    }

    .timeThree::before {
        height: 46%;
        top: -26%;
    }

    .marker {
        width: 119px;
        height: 22px;
        top: 14%;
    }

    .numberOne,
    .numberThree,
    .numberTwoMobile,
    .numberFourMobile {
        width: 119px;
        height: 22px;
    }

    .numberOne {
        top: 12%;
    }

    .numberTwoMobile {
        top: 67%;
    }

    .numberThree {
        top: 21%;
    }

    .numberFourMobile {
        top: 74%;
    }

    .timelineMain {
        padding: 50px 0 0px;
    }

    .paddingOne,
    .paddingFour,
    .paddingFive {
        margin-bottom: 20px;
    }
}