.brandTrustSec {
    padding: 0px 0 80px;
}

.txt p {
    font-size: 25px;
    font-weight: 600;
    text-align: center;
    color: #F32F53;
}

.txt h2 {
    font-size: 55px;
    line-height: 65px;
    color: black;
    font-weight: bold;
    text-align: center;
}

.brands {
    margin-top: 50px;
}
.brands {
    animation: brands 50s linear infinite;
}
.brands > div {
    display: flex;
    gap: 30px;
    flex-wrap: nowrap;
}
@keyframes brands {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(calc(-100% - 1rem));
    }
}

/* .brands img {
    max-width: 150px;
    min-width: 150px;
    object-fit: contain;
} */

/* Media Query Start */
@media only screen and (max-width: 991px) {
    .brands {
        justify-content: center;
        gap: 30px 0;
    }
}

@media only screen and (max-width: 567px) {
    .txt h2 {
        font-size: 32px;
        line-height: 1.3;
    }
}