.houston {
  margin-bottom: 70px;
}

.applicationlong {
  height: 430px;
  overflow: auto;
  position: relative;
}

.understand h5 {
  padding-top: 20px;
  font-family: "SF-Pro-Display";
  color: black;
}

.applicationlong a {
  color: black;
}

.applicationlong h3 {
  font-family: "SF-Pro-Display";
  font-size: 19px;
  font-weight: bold;
  line-height: 24px;
  padding-bottom: 4%;
  letter-spacing: 1px;
  color: black;
  text-align: left;
  padding-right: 90px;
  padding-left: 20px;
}

.posto {
  margin-top: 70px;
  margin-bottom: 70px;
  height: 520px;
  overflow: auto;
}

.houston {
  background-color: #f3f3f3;
}

.tone {
  align-items: center;
}

.application {
  height: 600px;
  padding-left: 30px;
  padding-right: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.application h2 {
  font-size: 30px;
  color: white;
  font-weight: bold;
  color: #f32f53;
  font-family: "SF-Pro-Display";
  letter-spacing: 2px;
  padding-bottom: 10px;
}

.application a {
  width: fit-content;
  height: 45px;
  background-color: #f32f53;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  border-radius: 5px;
  font-weight: 600;
  padding-left: 50px;
  padding-right: 50px;
  font-size: 14px;
}

.understand h3 {
  background-color: #f32f53;
  width: 80px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50px;
  color: white;
  font-size: 37px;
  font-family: "SF-Pro-Display";
  letter-spacing: 2px;
  font-weight: bold;
}

.understand h2 {
  color: black;
  font-size: 35px;
  font-family: "SF-Pro-Display";
  letter-spacing: 2px;
  font-weight: bold;
  padding-top: 10px;
  padding-bottom: 10px;
}

.understand p {
  font-size: 16px;
}

.understand ul li {
  position: relative;
  margin-bottom: 7px;
  font-size: 16px;
  font-weight: 500;
}

.understand ul {
  margin: 0;
  padding-left: 20px;
  margin-top: 30px;
  margin-bottom: 30px;
}

.understand ul li::before {
  position: absolute;
  content: "";
  background-color: #f32f53;
  width: 8px;
  height: 8px;
  border-radius: 50px;
  left: -19px;
  margin-top: 9px;
  font-family: "SF-Pro-Display";
  letter-spacing: 2px;
}

.understand {
  height: auto;
  padding-left: 40px;
  padding-right: 40px;
  overflow: auto;
  background-color: white;
  border-radius: 15px;
  margin-bottom: 5%;
  padding-top: 5%;
  padding-bottom: 5%;
}

.applicationlong::before {
  content: "";
  position: absolute;
  left: 0%;
  width: 6px;
  height: 660px;
  border-radius: 15px;
  background-color: #fff;
}

.active h3 {
  position: relative;
}

.active h3::before {
  content: "";
  position: absolute;
  left: 1px;
  top: 5px;
  width: 4px;
  height: 40px;
  border-radius: 15px;
  background-color: #f32f53;
}

@media screen and (max-width: 1200px) {
  .application h2 {
    font-size: 30px;
  }
}

@media screen and (max-width: 991px) {
  .houston {
    padding-top: 70px;
    padding-bottom: 70px;
  }

  .understand {
    height: auto;
    padding-left: 30px;
    padding-right: 40px;
    overflow: auto;
    padding-top: 50px;
  }
}

@media screen and (max-width: 767px) {
  .houston {
    padding-bottom: 0px;
  }

  .understand h2 {
    font-size: 25px;
  }
}

@media screen and (max-width: 480px) {
  .understand h2 {
    font-size: 16px;
  }

  .applicationlong h3 {
    font-size: 14px;
  }

  .application h2 {
    font-size: 20px;
  }

  .application a {
    padding-left: 15px;
    padding-right: 15px;
    font-size: 13px;
  }
}
