.counterSec {
  padding: 40px 0 0;
  height: 100%;
}

/* .mainCard {
  position: relative;
} */

.txt img {
  filter: brightness(100);
}

.travel {
  background-color: #468feb;
  height: 100%;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 30px;
  padding-bottom: 30px;
  display: flex;
  align-content: center;
  flex-direction: column;
  justify-content: start;
  position: relative !important;
  z-index: 99 !important;
}

.travel p {
  font-size: 15px;
  line-height: 26px;
  font-weight: 300;
  margin-top: 10px;
  display: -webkit-box;
  -webkit-line-clamp: 7;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.travel2 p {
  font-size: 15px;
  line-height: 26px;
  font-weight: 300;
  margin-top: 10px;
  display: -webkit-box;
  -webkit-line-clamp: 7;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.travel3 p {
  font-size: 15px;
  line-height: 26px;
  font-weight: 300;
  margin-top: 10px;
  display: -webkit-box;
  -webkit-line-clamp: 7;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.travel2 {
  background-color: #4c0251;
  height: 100%;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 30px;
  padding-bottom: 30px;
  display: flex;
  align-content: center;
  flex-direction: column;
  justify-content: start;
  position: relative !important;
  z-index: 999999 !important;
}

.travel3 {
  background-color: #243140;
  height: 100%;
  padding-left: 28px;
  padding-right: 30px;
  padding-top: 30px;
  padding-bottom: 30px;
  display: flex;
  align-content: center;
  flex-direction: column;
  justify-content: start;
  position: relative !important;
  z-index: 999999 !important;
}

.travel h3 {
  color: white;
  font-size: 40px;
  font-weight: 500;
  line-height: 48px;
  letter-spacing: 1px;
  margin-bottom: 0;
}

.travel2 h3 {
  color: white;
  font-size: 40px;
  font-weight: 500;
  line-height: 48px;
  letter-spacing: 1px;
  margin-bottom: 0;
}

.travel3 h3 {
  color: white;
  font-size: 40px;
  font-weight: 500;
  line-height: 48px;
  letter-spacing: 1px;
  margin-bottom: 0;
}

.android h3 {
  color: #f32f53;
  font-weight: 500;
  line-height: 30px;
  letter-spacing: 1px;
  font-size: 25px;
  margin-bottom: 0;
}

.android h2 {
  color: black;
  font-size: 55px;
  font-weight: 500;
  line-height: 65px;
  letter-spacing: 1px;
  padding-top: 0px;
  padding-bottom: 10px;
}

.android p {
  color: black;
  padding-bottom: 20px;
  font-size: 17px;
  line-height: 26px;
  font-weight: 300;
  margin-bottom: 30px;
  font-weight: 300;
}

.ImageDiv {
  background: #f3f3f3;
  transition: all ease-in-out 0.4s;
  position: relative !important;
  z-index: -1 !important;
}

.ImageDiv img {
  min-height: 373px;
  max-height: 369px;
}

.ImageDiv:hover {
  background: #e4e4e4;
}

.ImageDiv img:hover {
  transform: translateY(20px);
  transition: all ease-in-out 0.4s;
}

.counter {
  display: flex;
  align-items: end;
  justify-content: space-between;
  padding-top: 10px;
  padding-right: 21px;
}

.counter h4 p {
  font-size: 28px;
  font-weight: 500;
  line-height: 34px;
  color: white;
  margin-bottom: 0;
}

.counter h4 span {
  font-size: 30px;
  line-height: 30px;
  font-weight: 400;
  color: white;
  margin-left: 9px;
}

.counter span {
  font-size: 15px;
  line-height: 16px;
  font-weight: 400;
  color: white;
}

.arrowImage {
  position: absolute;
  right: 57px;
  top: 42px;
  transition: all 0.4s ease-in-out;
}

.travel3:hover .arrowImage,
.travel2:hover .arrowImage,
.travel:hover .arrowImage {
  position: absolute;
  right: 26px;
  top: 42px;
  transition: all 0.4s ease-in-out;
}

@media only screen and (max-width: 1920px) {
  .travel p {
    display: -webkit-box;
    -webkit-line-clamp: 6;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }

  .travel2 p {
    display: -webkit-box;
    -webkit-line-clamp: 6;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }

  .travel3 p {
    display: -webkit-box;
    -webkit-line-clamp: 6;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
}

@media only screen and (max-width: 1600px) {
  .travel {
    height: 350px;
  }

  .travel2 {
    height: 348px;
  }

  .ImageDiv img {
    min-height: 366px;
    max-height: 369px;
  }
}

@media only screen and (max-width: 1399px) {
  .android h2 {
    font-size: 40px;
    line-height: 45px;
  }

  .travel h3,
  .travel2 h3,
  .travel3 h3 {
    font-size: 35px;
    line-height: 40px;
  }

  .ImageDiv img {
    min-height: 276px;
    max-height: 279px;
  }

  .travel {
    height: 347px;
  }

  .travel3 {
    height: 348px;
  }
}

@media only screen and (max-width: 1280px) {
  .travel {
    height: 348px;
  }
}

@media screen and (max-width: 1024px) {
  .travel {
    padding-left: 20px;
    padding-right: 20px;
  }

  .travel2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .travel3 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .travel h3 {
    font-size: 30px;
    line-height: 33px;
  }

  .travel2 h3 {
    font-size: 30px;
    line-height: 33px;
  }

  .travel3 h3 {
    font-size: 30px;
    line-height: 33px;
  }

  .travel p {
    font-size: 13px;
    line-height: 20px;
    margin-top: 0px;
  }

  .travel2 p {
    font-size: 13px;
    line-height: 20px;
    margin-top: 0px;
  }

  .travel3 p {
    font-size: 13px;
    line-height: 20px;
    margin-top: 0px;
  }

  .ImageDiv img {
    min-height: 344px;
    max-height: auto;
  }

  .counter h4 {
    margin-bottom: 0;
  }

  .counter h4 p {
    font-size: 18px;
    line-height: 22px;
  }

  .counter h4 span {
    font-size: 20px;
    bottom: 0px;
    right: 50px;
  }

  .counter span {
    font-size: 13px;
    line-height: 16px;
  }
}

@media screen and (max-width: 991px) {
  .comm {
    display: none;
  }

  .ImageDiv img {
    width: 100%;
  }

  .android h2 {
    line-height: 33px;
    padding-top: 0px;
    font-size: 35px;
    line-height: 45px;
  }

  .counter span {
    font-size: 13px;
    line-height: 17px;
  }

  .counter {
    padding-right: 0;
  }

  .counter h4 span {
    right: 36px;
    bottom: 0;
  }
}

@media screen and (max-width: 480px) {
  .counterSec {
    padding: 0px 0;
  }

  .travel,
  .travel2,
  .travel3 {
    height: 100%;
  }

  .arrowImage {
    right: 20px;
    top: 33px;
  }

  .ImageDiv img:hover {
    transform: translateY(0px);
    transition: all ease-in-out 0.4s;
  }

  .travel h3 {
    font-size: 25px;
  }

  .travel2 h3 {
    font-size: 25px;
  }

  .travel3 h3 {
    font-size: 32px;
    line-height: 1.3;
  }

  .travel p,
  .travel2 p,
  .travel3 p {
    font-size: 16px;
    line-height: 24px;
    text-align: justify;
  }

  .android h2 {
    font-size: 32px;
    line-height: 1.3;
  }

  .android p {
    font-size: 16px;
    line-height: 24px;
  }

  .counter {
    justify-content: space-around;
  }

  .counter h4 span {
    right: inherit;
    left: 45px;
  }

  .lastCount h4 span {
    bottom: -3px !important;
    right: -28px !important;
  }
}